.presentacion .frase1, .presentacion .parrafo1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.presentacion .frase1 {
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 80%;
    position: relative;
    bottom: 155px;
    margin: 0 auto;
}
.presentacion .parrafo1 {
  font-size: 30px;
  font-weight: bolder;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
}

.section2 {
  display: flex;
  justify-content: center;
}
.section2 .parrafo2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 30px;
  color: #131111;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify;
}
.planes-individuales-container {
height: auto;
width: 100%;
margin:30px auto;}

.planes-individuales-container .planes-individuales {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
}
.planes-individuales-container .planes-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;

}
.planes-individuales-container .planes-container .plan1, .planes-individuales-container .planes-container .plan3,
 .planes-individuales-container .planes-container .plana, .planes-individuales-container .planes-container .planc,
 .planes-grupales-container .planes-container .planag, .planes-grupales-container .planes-container .plancg  {
  background-color: #e2921a;
  color: #0f0101;
 
}
.planes-individuales-container .planes-container .plan2, .planes-individuales-container .planes-container .plan1 {
  position: absolute;
  width: 25%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  text-align: center;  
}

.planes-individuales-container .planes-container .plan3 {
  width: 25%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
}

.planb, .plana, .planc, .planag, .planbg, .plancg {
  
  width: 90%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin: 10px 5px;
  text-align: center;
}

.planes-individuales-container .planes-container .plan2, 
.planes-individuales-container .planes-container .planb,
.planes-grupales-container .planes-container .planbg {
  background-color: #0f0101;
  color: white;
}

.planes-grupales-container .planes-grupales {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  }
.planes-grupales-container .planes-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.planes-grupales-container .planes-container .plan1g, .planes-grupales-container .planes-container .plan3g {
  background-color: #e2921a;
  color: #0f0101;
}
.planes-grupales-container .planes-container .plan2g, .planes-grupales-container .planes-container .plan1g {
  margin-bottom: 20px;
  position: absolute;
  width: 25%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
.planes-grupales-container .planes-container .plan3g {
  
  margin-bottom: 20px;
  width: 25%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
.planes-grupales-container .planes-container .plan2g {
  background-color: #0f0101;
  color: white;
}

.planes-container span {
  font-size: 25px;
  font-weight: bold;

}
.planes-container-IG span {
  font-size: 1.8rem;
  font-weight: bolder;
  text-shadow: 6px 3px 6px #666262;

}

.resumen-planes {
  text-align: justify;
 }

 .section-IG {
   margin-bottom: 30px;
   }

.section-IG .clases-IG {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-align: center;

}
.section-IG .planes-container-IG {
  display: flex;
}
.section-IG .planes-container-IG .plan2c {
  margin: 50px auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  padding: 20px;
  text-align: center;
}

.section-IG .planes-container-IG .clases-ig-foto2 {
  margin: 20px;

}

.encabezado-container {
  height: 200px;
  background-color: black;
}
.encabezado-container .encabezado {
  color: white;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-shadow: 6px 3px 6px #666262;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.encabezado-container .menu {
  display: flex;
  justify-content: center;
}
.encabezado-container .navbar {
  background-color: black;
  width: 100%;
}
.encabezado-container .navbar .navbar-nav {
  width: 100%;
}
.encabezado-container .navbar .navbar-nav a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}
.encabezado-container .navbar .navbar-nav a:hover {
  color: #7a4f0d;
}

.frase2 {
  width: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 58px auto;

}

.wods {
  display: flex;
  justify-content: center;
  color: black;
  flex-wrap: wrap;
}

.wod {
  margin: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.wod-name {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
}

.wod1 {
background-image: url(../images/mel.jpg);
width: 300px;
height: 300px;}

.wod2 {
  background-image: url(../images/sarasigmundottir.jpg);
  width: 300px;
  height: 168px;
}

.wod3 { 
  width: 328px;
  height: 218px;
  background-image: url(../images/cami.jpg);
}

.wod4 { 
  background-image: url(../images/alexisraptis.jpg);
  width: 300px;
  height: 300px;
}

.carrusel {margin: 30px auto ;}
.carrusel-title {
  margin: 20px; 
  font-family: 'Poppins', sans-serif;
  text-shadow: 6px 3px 6px #666262;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  
}


footer {
  font-size: 20px;
  text-align: right;
}
footer a {
  color: black;
}
footer a i {
  width: 50px;
  padding: 50px;
}

@keyframes cambio-de-color { 
  0% {background-color: rgb(255, 255, 255);color: black; }
  25% {background-color: rgb(219, 214, 214); color: rgb(110, 110, 110);}
  50% { background-color: rgb(189, 188, 188); color: rgb(173, 171, 171);}
  75% {background-color: rgb(158, 157, 157); color: rgb(226, 220, 220);}
  100% {background-color:rgb(122, 120, 120);color: rgb(255, 255, 255);}
}

.planes-grupales-container:hover, .planes-individuales-container:hover {animation: cambio-de-color 5s}
.planes-individuales-container:hover .plan1 {transform: translate(-390px); transition: 5s;}
.planes-individuales-container:hover .plan3 {transform: translate(390px); transition: 5s;}

.planes-grupales-container:hover .plan1g {transform: translate(-390px); transition: 5s;}
.planes-grupales-container:hover .plan3g {transform: translate(390px); transition: 5s;}


.form-container { margin: 10px; background-color: black;
  width: 100%;}

.form-suscribe {
  font-family: 'Poppins', sans-serif; 
  font-size: 20px; font-weight: bold;
   color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
 }

  .datos-personales, .datos-contacto { display: flex; flex-direction: column; margin: auto;}
input {font-family: 'Poppins', sans-serif; 
  font-size: 20px; font-weight: bold; 
  width: 200px; 
  margin: 10px auto;}
.label-suscribe {
  margin: 10px auto; }

  .form {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;}

  .form h2 { 
    text-shadow: 6px 3px 6px #666262;
    text-align: center;
   }


  /* Exercise List */

  .container-exercise {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
      margin: 40px auto;
     }
.lower-body, .upper-body, .full-body {
  margin: 10px auto; 
  color: rgb(0, 0, 0); 
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  flex-wrap: wrap
  }
.title-exercise {
  text-align:center;
   font-family: 'Poppins', sans-serif; 
   font-size: 30px; 
   font-weight: bolder;
   background-color: rgb(226, 146, 26); 
   margin: 10px auto;
   padding: 5px;
   width: 300px;
   margin: 10px auto;}
  
.full-body:hover, .lower-body:hover, .upper-body:hover { 
  background-color: rgb(97, 97, 97); 
  color: black;}
  
.video {
  border: solid 10px  rgb(0, 0, 0) ;}
.div-video {
  margin: 0 5px;
   font-family: 'Poppins', sans-serif; 
   font-size: 20px; 
   font-weight: bolder;}

  iframe {
    width: 300px;
     height: 168.75px; }




/*MOBILE*/
@media only screen and (max-width: 421px) {
  .plan1, .plan2, .plan3, .plan1g, .plan2g, .plan3g {
    display: none;
  }
  .planes-container { 
    flex-wrap: wrap;
    justify-content: center;
  }
  .planes-container-IG .clases-ig-foto2 {display: none;}


  .form-suscribe { 
    display: flex;
    flex-direction: column;
  }
  .encabezado-container { height: auto;}
  .encabezado-container .encabezado {
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: 6px 3px 6px #666262;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .frase1, .parrafo2, .resumen-planes {font-size: 1.13rem !important; }

  
   }

/* TABLET*/
@media only screen and (min-width: 422px) and (max-width: 965px) {
  .plan1, .plan2, .plan3, .plan1g, .plan2g, .plan3g {
    display: none;
  }
  .planes-container { 
    flex-wrap: wrap;
    justify-content: center;
  }
  .planes-container-IG .clases-ig-foto2 {display: none;}

  .form-suscribe { 
    display: flex;
    flex-direction: column;
  }
  .encabezado-container { height: auto;}
  .encabezado-container .encabezado {
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-shadow: 6px 3px 6px #666262;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  

   }

/* DESKTOP */
@media only screen and (min-width: 990px) {
  .plana, .planb, .planc, .planag, .planbg, .plancg {
    display: none;}
  
  
  }


  
/* DESKTOP,  ADAPTACIÓN PARA QUE LA TRASLACIÓN NO SALGA DE LA PANTALLA */
@media only screen and (min-width: 966px ) and (max-width: 989px) {
  .plana, .planb, .planc, .planag, .planbg, .plancg {
    display: none;}  
.planes-grupales-container:hover, .planes-individuales-container:hover {animation: cambio-de-color 5s}
.planes-individuales-container:hover .plan1 {transform: translate(-300px); transition: 5s;}
.planes-individuales-container:hover .plan3 {transform: translate(300px); transition: 5s;}

.planes-grupales-container:hover .plan1g {transform: translate(-300px); transition: 5s;}
.planes-grupales-container:hover .plan3g {transform: translate(300px); transition: 5s;}
 }





  

/*# sourceMappingURL=style2.css.map */
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style2.css.map */