
.encabezado-container { height: 200px;
    background-color: black;
    .encabezado { color: white;
        font-size: 50px; 
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        text-shadow: 6px 3px 6px rgb(102, 98, 98);
        display: flex; justify-content: center;
        padding-top: 40px; padding-bottom: 30px;}
    .menu {display: flex; justify-content: center;} 
    .navbar {background-color: rgb(0, 0, 0); width: 100%;
        .navbar-nav {width: 100%;
            a {color: white;text-decoration: none; font-family:'Poppins', sans-serif; font-size: 25px;
                &:hover {color: rgb(122, 79, 13);}
            }
    }
    }

}

.presentacion-free-workouts { 
    width: 100%; height: 849px; background-image: url(../images/fondo2.jpg);
    .frase2 {width: 500px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;
        color:rgb(255, 255, 255); font-size: 30px; margin-right: 30px; margin-left: auto; padding-top: 30px; }
 }

 .workouts { 
    display: flex; justify-content: center;align-items: center;
    color: black; font-size: 25px;
    a {color: white;}
     .wod1 {width: 35%; margin: 20px;padding: 10px; background-color: rgb(226, 146, 26); font-family: 'Poppins', sans-serif; font-size: 25px; font-weight: bold;  }

  }

  footer {font-size: 20px; text-align: right;
    a {color: black;
        i {width: 50px; padding: 50px;}
    }
}