
*{margin: 0; padding: 0;}

.encabezado-container {
    
    height: 200px;
    background-color: black;
} 

.encabezado {
    color: white;
    font-size: 50px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 6px 3px 6px rgb(102, 98, 98);
    display: flex; justify-content: center;
    padding-top: 40px; padding-bottom: 30px;
}
.navbar, .navbar-expand-lg, .navbar-dark, .bg-dark {width: 100%; padding: 0; margin: 0;background-color: black !important;}

.navbar-dark .navbar-nav .nav-link { margin: 0 30px;
    font-size: 25px;font-family:'Poppins', sans-serif ; color:  white !important;}

.navbar-dark .navbar-nav .nav-link:hover {color: rgb(122, 79, 13) !important;}

.menu { display: flex; justify-content: center;}
.menu-item {
    
    font-size: 30px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
    color: rgb(255, 255, 255);
     margin-left: 30px; margin-right: 30px;
}

.menu a {color: white;text-decoration: none;}

.menu a:hover, .navbar-nav a  {color: rgb(122, 79, 13);}

.presentacion { width:100%; height: 723px; ; background-image: url(images/fondo1.jpg);}


.parrafo1, .frase1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;}

.frase1 { padding-top: 285px; padding-bottom: 5px; 
    margin-left: 50px;margin-bottom: 130px; margin-right: 100px; 
    font-weight: bolder; font-size: 30px; 
    display: flex; justify-content: left; width: 400px;}

.parrafo1 {font-size: 30px; font-weight: bolder;
     padding-left: 200px; padding-right: 200px; display: flex; justify-content: center;}

.section2 { display: flex; justify-content: center; }   

.parrafo2 {
    font-family: 'Poppins', sans-serif; 
    font-weight: bolder; 
    line-height: 30px;
    color: rgb(19, 17, 17); 
    width: 800px; 
    padding-top: 50px;
     padding-bottom: 50px;}


.planes-container {display: flex;}

.plan2, .plan1 {margin-left: 570px; position: absolute; width: 25%; height: 350px; font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: bold; 
    text-align: center; padding-top: 20px;}

.plan3 {margin-left: 570px; width: 25%; height: 350px; font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: bold; 
    text-align: center; padding-top: 20px;}

.plan1, .plan3 { background-color: rgb(226, 146, 26); color: rgb(15, 1, 1);}

.plan2 { background-color: rgb(15, 1, 1);color: rgb(255, 255, 255);}

.plan2c { width: 25%; height: 350px; margin-left: 40px; margin-right: 40px; font-family: 'Poppins', sans-serif; font-size: 30px; font-weight: bold; color: black;
    text-align: center; padding-top: 20px;}

@keyframes cambio-de-color { 
    0% {background-color: rgb(255, 255, 255);color: black; }
    25% {background-color: rgb(219, 214, 214); color: rgb(110, 110, 110);}
    50% { background-color: rgb(189, 188, 188); color: rgb(173, 171, 171);}
    75% {background-color: rgb(158, 157, 157); color: rgb(226, 220, 220);}
    100% {background-color:rgb(122, 120, 120);color: rgb(255, 255, 255);}
 }

.planes-grupales-container:hover, .planes-individuales-container:hover {animation: cambio-de-color 5s}
.planes-individuales-container:hover .plan1 {transform: translate(-530px); transition: 5s;}
.planes-individuales-container:hover .plan3 {transform: translate(530px); transition: 5s;}

.planes-grupales-container:hover .plan1 {transform: translate(-530px); transition: 5s;}
.planes-grupales-container:hover .plan3 {transform: translate(530px); transition: 5s;}



.planes-grupales, .clases-IG, .planes-individuales {font-family: 'Poppins', sans-serif; font-size: 50px; font-weight: bold; display: flex; justify-content: center; margin: 20px auto;}


.planes-container-IG { display: flex; justify-content: space-around;}

nav a {color: rgb(15, 1, 1);margin-left: 20px; margin-right: 20px; text-align: center; 
    text-decoration: none; font-family: Verdana, Geneva, Tahoma, sans-serif;}


.resumen-planes { padding: 10px; }

footer {font-size: 20px;text-align: right;}

footer a {color: black;}

i {width: 50px; padding: 50px;}


h2 {text-align: center;font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif; } 

iframe {margin: 10px;}

.form-container { margin: 10px; background-color:rgb(15, 1, 1);
     width: 50%;}

.form-suscribe {font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: bold; color: rgb(255, 255, 255);  display: flex; flex-direction: column;
    justify-content: center; }
input {font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: bold; width: 200px; margin: 10px auto;}
.label-suscribe {margin: 10px auto; }

.form {display: flex; justify-content: center; flex-wrap: wrap;}


/* ACA COMENZAMOS CON FREE WORKOUTS*/
.frase2 { width: 500px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;
    color:rgb(255, 255, 255); font-size: 30px; margin-right: 30px; margin-left: auto; padding-top: 30px;}

.presentacion-free-workouts {width: 100%; height: 849px; background-image: url(images/fondo2.jpg);}

.workouts {display: flex; justify-content: center;align-items: center;
color: black; font-size: 25px;}
.wod1 {width: 35%; margin: 20px;padding: 10px; background-color: rgb(226, 146, 26); font-family: 'Poppins', sans-serif; font-size: 25px; font-weight: bold;  }
.workouts a {color: white;}

/* exercise List */

.container-exercise { display: flex; justify-content: center; flex-wrap: wrap; margin-top: 10px; }
.lower-body, .upper-body, .full-body {margin: 10px auto; color: rgb(0, 0, 0); display: flex; justify-content: center; align-items: center; text-align: center; flex-wrap: wrap;width: 90%; }
.title-exercise {text-align:center; font-family: 'Poppins', sans-serif; font-size: 30px; font-weight: bolder;background-color: rgb(226, 146, 26); margin: 10px auto;}
.full-body:hover, .lower-body:hover, .upper-body:hover { background-color: rgb(97, 97, 97); color: black;}
.title-exercise {width: 25%; margin: auto; margin: 10px auto;}
.video {border: solid 10px  rgb(0, 0, 0) ;}
.div-video {margin: 0 5px; font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: bolder;}



/*Responsive, mobile and tablet*/

@media only screen and (max-width: 960px) { 

    .planes-container, .menu {display: flex; justify-content: center; flex-wrap: wrap !important;}
    .presentacion { width:100%; height: 723px; ; background-image:none; background-color: rgb(110, 110, 106); display: flex; align-items: center; flex-wrap: wrap;}
    .parrafo1, .frase {font-size: 30px; font-weight: bolder; margin: 10px; padding: 10px !important}
    .plan1, .plan2, .plan3, .plan2c {margin: 10px; width:50%}
    .encabezado {padding-bottom: 10px;}
    .frase1 {margin-bottom: 20px; padding-top: 80px;}
    .plan1, .plan2, .plan3 { height: 475px; }
    .plan1g, .plan2g, .plan3g {height: 250px;}
    
  }
    

/*Responsive, laptop*/
